<div class="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="header-title text-center">Sign Up for an account</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="panel panel-colored">
                <div class="panel-body">
                    <div class="row">
                      <form role="form" name="registerForm" id="registerForm" method="post" ng-submit="proceed()" novalidate>
                        <div class="col-md-6">
                          <div ng-include="'registration/partials/_credentials.html'"></div>
                          <div ng-include="'registration/partials/_contact.html'"></div>
                        </div>
                        <div class="col-md-6 sign-up-form">

                            <!--<div ng-show="registrationErrors">-->
                              <!--<p class="alert alert-danger"  ng-repeat="error in registrationErrors">-->
                                <!--<b>{{error.field}}</b> - {{error.message}}-->
                              <!--</p>-->
                            <!--</div>-->
                                <input type="hidden" ng-model="action" value="create">
                                <div ng-include="'registration/partials/_user.html'"></div>
                                <div ng-include="'registration/partials/_agreement.html'"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-signup btn-block">Start Trial</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
