.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.main{
  height: 100%;
}

.size-2x{
  font-size: 2em;
}

@import 'base/base';
@import 'base/partials/left-side';
@import 'base/partials/right-side';
@import 'base/partials/footer';
@import 'registration/registration';
@import 'assets/assets';
@import 'common/custom-option-ui-select/custom-option';
