.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

@import 'base/base';
@import 'base/left-side';
@import 'base/footer';
@import 'registration/registration';

