<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <div class="input-field">
        <label>Linked Assets</label>

        <tags-input display-property="name" add-from-autocomplete-only="true" placeholder="Add linked asset" ng-model="asset.linkedAssets" type="text" max-tags="10">
          <auto-complete source="getLinkedAssets($query)" min-length="1">

          </auto-complete>
        </tags-input>
      </div>

      <div class="button-group pull-right">
        <button class="btn btn-primary" type="button" ng-click="saveSection('linkedAssetsSection')">
          Save
        </button>

        <button class="btn btn-default" type="button" ng-click="cancelSection('linkedAssetsSection')">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
