
<div class="well">
  <div class="input-field">
    <label>MAC Address</label>

    <tags-input placeholder="Add MAC address" ng-model="asset.macAddresses" type="text" max-tags="5" allowed-tags-pattern="^(([A-Fa-f0-9]{2}[:]){5}[A-Fa-f0-9]{2}[,]?)+$">
    </tags-input>
  </div>

  <div class="button-group text-right">
    <button class="btn btn-primary" type="button" ng-click="saveSection('macAddressSection')">
      Save
    </button>

    <button class="btn btn-default" type="button" ng-click="cancelSection('macAddressSection')">
      Cancel
    </button>
  </div>
</div>

