<div class="row">
  <div class="col-xs-6">

    <div class="input-field">
      <label for="manufacturer">Manufacturer</label>
      <input type="text" id="manufacturer" class="form-control" ng-model="asset.manufacturer">
    </div>

    <div class="input-field">
      <label for="serial-number">Serial Number <span class="glyphicon glyphicon-question-sign"></span></label>
      <input type="text" class="form-control" id="serial-number" ng-model="asset.serialNumber">
    </div>

    <div class="input-field">
      <label for="imei">IMEI <small>(for mobile assets only)</small></label>
      <input type="text" class="form-control" id="imei" ng-model="asset.imei">
    </div>

  </div>
  <div class="col-xs-6">

    <div class="input-field">
      <label for="model">Model</label>
      <input type="text" class="form-control" id="model" ng-model="asset.model">
    </div>

    <div class="input-field">
      <label>Supplier</label>
      <ui-select ng-model="asset.supplier"
                 custom-option='{"buttonText": "Add New Supplier", "click" : "showSupplierModal"}'>
        <ui-select-match>{{ $select.selected.title }}</ui-select-match>
        <ui-select-choices repeat="supplier in suppliers | filter: $select.search">
          <span ng-bind-html="supplier.title | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>

  </div>
</div>


<div class="button-group pull-right">
  <button class="btn btn-primary" type="button" ng-click="saveSection('techSection')">
    Save
  </button>

  <button class="btn btn-default" type="button" ng-click="cancelSection('techSection')">
    Cancel
  </button>
</div>
