<div class="row">
  <div class="well col-xs-6 col-xs-offset-3">

    <form class="form-horizontal" ng-submit="requestPasswordReset()">
    <div class="form-group">
      <label class="col-sm-4 control-label" for="username">Username:</label>
      <div class="col-sm-8">
        <input type="email" class="form-control" name="username" ng-model="username" required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <input type="submit" class="btn btn-success" value="Reset Password">
      </div>
    </div>
    </form>

    <div ng-if="successMessage" class="alert alert-danger">
      User does not exist.
    </div>

    <div ng-if="errorMessage" class="alert alert-success">
      Instruction of password reset has been sent to your email address.
    </div>

  </div>

</div>

