.tool-bar{
  min-height: 25px;
  padding: 10px 0;
}

.input-field{
  margin: 20px 5px;

  button{
    span.glyphicon{
      top: -2px;
    }
    span.button-text{
      position: relative;
      bottom: 11px;
    }
  }

}

.input-well{
  .message{
    clear: both;
    margin-top: 60px;
    text-align: center;
    font-style: italic;
  }
}

.panel-collapse{
  clear: both;
}

.edit-button{
  position: absolute;
  right: 0;
}

.input-control-margin-top{
  margin-top: 24px;
}

.nowrap{
  white-space: nowrap;
}

div[disabled="disabled"] {
  background-color: #eee;
  cursor: not-allowed;
}

#view-edit-section{
  .row{
    margin-right: 15px !important;
  }
}

.thumb{
  width: 150px;
  height: 150px;
  margin: 10px;
}
