<div class="row tool-bar">
  <div class="col-xs-6">
    <a ui-sref="base.main.assetCreate({categoryKey:categoryKey})" class="btn btn-default">
      <span class="glyphicon glyphicon-plus-sign btn"></span> Add New Computer
    </a>

    <a ui-sref="base.main.assetEdit({assetId: getIdSelectedAsset()})" class="btn btn-default" ng-disabled="countSelectedAssets() !== 1">
      <span class="glyphicon glyphicon-pencil btn"></span> Edit Selected
    </a>

    <a href class="btn btn-default">
      <span class="glyphicon glyphicon-trash btn"></span> Delete Selected
    </a>

  </div>
  <div class="col-xs-6">
    <div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go!</button>
    </span>
      <input type="text" class="form-control" placeholder="Search for...">
    </div>
  </div>
</div>

<div class="row">

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>
        <input type="checkbox" ng-change="changeAllCheckboxes()" ng-model="commonCheckbox">
      </th>
      <th>IsItUp Asset ID</th>
      <th>Asset Name</th>
      <th>Asset Category</th>
      <th>Manufacturer</th>
      <th>Model</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="asset in assets">
      <td>
        <input type="checkbox" ng-change="assetCheckedCallback(asset)" ng-model="asset.selected">
      </td>
      <td>
        <a ui-sref="base.main.assetEditStep1({assetId: asset.id})">{{asset.assetId}}</a>
      </td>
      <td>{{asset.name}}</td>
      <td>{{asset.category.categoryName}}</td>
      <td>{{asset.manufacturer}}</td>
      <td>{{asset.model}}</td>
    </tr>
    </tbody>
  </table>

</div>

