<div class="row">
  <div class="col-xs-12">
    <h2>Add New Asset</h2>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <span>Step1</span>
    <span><b>Step2</b></span>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">

    <div class="input-field">
      <label>Assigned Location</label>

      <p>
        <ui-select ng-model="asset.assignedLocation"
                   custom-option='{"buttonText": "Add New Location", "click" : "showAddModal", "type": "location"}'>
          <ui-select-match>{{ $select.selected.locationName }}</ui-select-match>
          <ui-select-choices repeat="location.id as location in locations | filter: $select.search">
            <span ng-bind-html="location.locationName | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </p>
    </div>

    <div class="input-field">
      <label for="manufacturer">Manufacturer</label>

      <p>
        <input type="text" class="form-control" id="manufacturer" ng-model="asset.manufacturer">
      </p>
    </div>

    <div class="input-field">
      <label for="serial-number">Serial Number <span class="glyphicon glyphicon-question-sign"></span></label>

      <p>
        <input type="text" class="form-control" id="serial-number" ng-model="asset.serialNumber">
      </p>
    </div>

    <div class="input-field">
      <label for="imei">IMEI (for mobile assets only)</label>

      <p>
        <input type="text" class="form-control" id="imei" ng-model="asset.imei">
      </p>
    </div>

    <div class="input-field">
      <button class="btn btn-primary"> <!--ng-click="showModalPurchaseInfo()"-->
        <span class="glyphicon glyphicon-plus-sign size-2x"></span>
        <span class="button-text">Add Purchase Information</span>
      </button>
    </div>

    <div class="input-field">
      <label for="cost-center">Cost Center</label>

      <p>
        <input type="text" class="form-control" id="cost-center" ng-model="asset.costCenter">
      </p>
    </div>

  </div>

  <div class="col-xs-4">

    <div class="input-field">
      <label>Asset Status</label>

      <p>
        <ui-select ng-model="asset.status" custom-option='{"buttonText": "Add New Status", "click" : "showModalAddStatus"}'>
          <ui-select-match>{{ $select.selected.statusName }}</ui-select-match>
          <ui-select-choices repeat="status.id as status in statuses | filter: $select.search">
            <span ng-bind-html="status.statusName | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </p>
    </div>

    <div class="input-field">
      <label for="model">Model</label>

      <p>
        <input type="text" class="form-control" id="model" ng-model="asset.model">
      </p>
    </div>

    <div class="input-field">
      <label>Supplier</label>

      <p>
        <ui-select ng-model="asset.supplier"
                   custom-option='{"buttonText": "Add New Supplier", "click" : "showSupplierModal"}'>
          <ui-select-match>{{ $select.selected.title }}</ui-select-match>
          <ui-select-choices repeat="supplier.id as supplier in suppliers | filter: $select.search">
            <span ng-bind-html="supplier.title | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </p>
    </div>

    <div class="input-field">
      <button class="btn btn-large btn-primary">
        <span class="glyphicon glyphicon-plus-sign size-2x"></span>
        <span class="button-text">Add Lease Information</span>
      </button>
    </div>

    <div class="input-field">
      <label for="warranty-expiry">Warranty Expiry</label>

      <p>
        <input type="text" bs-datepicker id="warranty-expiry" name="asset-name" class="warranty-expiry form-control"
               ng-model="asset.warrantyExpirity">
      </p>
    </div>

  </div>

  <div class="col-xs-4">

    <div class="well">

      <div class="input-field">
        <label>Ownership Type</label>

        <p>
          <ui-select ng-model="asset.ownership.ownershipType" on-select="ownershipTypeChangedCallback()" custom-option='{"buttonText": "Add New Ownership Type", "click" : "showAddModal", "type": "ownershipType"}'>
            <ui-select-match>{{ $select.selected.ownershipTypeName }}</ui-select-match>
            <ui-select-choices repeat="ownershipType.id as ownershipType in ownershipTypes | filter: $select.search">
              <span ng-bind-html="ownershipType.ownershipTypeName | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </p>
      </div>

      <div class="input-field">
        <label>Owner</label>

        <p>
          <ui-select ng-model="asset.ownership.ownerCompany" ng-disabled="asset.ownership.ownershipType !== 'a76865d03b2c4c9ba05b39a3a48ed5a1'">
            <ui-select-match>{{ $select.selected.displayName }}</ui-select-match>
            <ui-select-choices repeat="owner.id as owner in owners | filter: $select.search">
              <span ng-bind-html="owner.displayName | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </p>
      </div>

      <div class="input-field">
        <label>Asset Sharing</label>

        <p>
          <ui-select ng-model="asset.ownership.sharing">
            <ui-select-match>{{ $select.selected.sharingName }}</ui-select-match>
            <ui-select-choices repeat="option.id as option in shareOptions | filter: $select.search">
              <span ng-bind-html="option.sharingName | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </p>
      </div>

      <div class="input-field">
        <label for="model">Assigned User</label>

        <p>
          <input type="text" class="form-control" name="model" ng-model="asset.ownership.assignedUser" ng-disabled="asset.ownership.sharing === '9bbc04a0fd5749e8a06aabe0b5c9b13b'">
        </p>
      </div>

      <div class="input-field">
        <label>Company</label>

        <p>
          <ui-select ng-model="asset.ownership.assignedCompany" on-select="companyChangedCallback()" ng-disabled="asset.ownership.sharing === '82f14085101c4f5391beb06f0ee830b1'" custom-option='{"buttonText": "Add New Company", "click" : "showAddModal", "type": "company"}'>
            <ui-select-match>{{ $select.selected.companyName }}</ui-select-match>
            <ui-select-choices repeat="company.id as company in companies | filter: $select.search">
              <span ng-bind-html="company.companyName | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </p>
      </div>

      <div class="input-field">
        <label>Department</label>

        <p>
          <ui-select ng-model="asset.ownership.assignedDepartment" ng-disabled="asset.ownership.sharing === '82f14085101c4f5391beb06f0ee830b1'" custom-option='{"buttonText": "Add New Department", "click" : "showAddModal", "type": "department"}'>
            <ui-select-match>{{ $select.selected.departmentName }}</ui-select-match>
            <ui-select-choices repeat="department.id as department in departments | filter: $select.search">
              <span ng-bind-html="department.departmentName | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </p>
      </div>

    </div>

    <div class="well">
      <div class="input-field">
        <label for="mac">MAC Address</label>

        <tags-input placeholder="Add MAC address" ng-model="asset.macAddresses" type="text" max-tags="5" allowed-tags-pattern="^(([A-Fa-f0-9]{2}[:]){5}[A-Fa-f0-9]{2}[,]?)+$">
        </tags-input>
      </div>

    </div>

    <div class="well">
      <label for="linked-assets">Linked Assets</label>

      <tags-input display-property="name" add-from-autocomplete-only="true" placeholder="Add linked asset" ng-model="asset.linkedAssets" type="text" max-tags="10">
        <auto-complete source="getLinkedAssets($query)" min-length="1">

        </auto-complete>
      </tags-input>

    </div>

  </div>

</div>


<div class="row">
  <div class="col-xs-12">

    <hr>

    <a class="btn btn-primary pull-left" ui-sref="base.main.assetEditStep1({assetId: asset.id})">
      <span class="glyphicon glyphicon-menu-left"></span>
      Back
    </a>

    <a class="btn btn-primary pull-right" ng-click="save()">
      <span class="glyphicon glyphicon-play"></span>
      Save
    </a>

    <!--<a class="btn btn-default pull-right">-->
    <!--<span class="glyphicon glyphicon-home"></span>-->
    <!--Continue Later-->
    <!--</a>-->
  </div>
</div>

