<div class="row">
  <div class="col-xs-12">
    <h2>Add New Asset</h2>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <span><b>Step1</b></span>
    <span>Step2</span>
    <hr>
  </div>
</div>

<form name="step1" ng-submit="next()">

  <div class="row">
    <div class="col-xs-4">

      <div class="input-field">
        <label>Asset Category <em>*</em></label>

        <p>
          <ui-select ng-model="asset.category" on-select="categoryChangedCallback()" custom-option='{"buttonText": "Add New Category", "click" : "showAddModal", "type": "category"}'>
            <ui-select-match>{{ $select.selected.categoryName }}
            </ui-select-match>
            <ui-select-choices repeat="category in categories | filter: $select.search">
              <span ng-bind-html="category.categoryName | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </p>
      </div>

      <div class="input-field">
        <label for="asset-name">Asset Name <em>*</em></label>
        <input type="text" class="form-control" id="asset-name" name="asset-name" ng-model="asset.name" required>
      </div>

      <div class="input-field">
        <label>Description</label>
        <textarea type="text" class="form-control" name="asset-description" ng-model="asset.description"></textarea>
      </div>

    </div>

    <div class="col-xs-4">

      <div class="input-field">
        <label>Device Type</label>

        <p>
          <ui-select ng-model="asset.deviceType"
                     custom-option='{"buttonText": "Add New Device Type", "click" : "showDeviceModal"}'
                     ng-disabled="!asset.category">
            <ui-select-match>{{ $select.selected.deviceTypeName }}</ui-select-match>
            <ui-select-choices
              repeat="deviceType in deviceTypes | filter: $select.search">
              <span ng-bind-html="deviceType.deviceTypeName | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </p>
      </div>

      <div class="input-field">
        <button type="button" class="btn btn-large btn-primary form-control input-control-margin-top"
                ng-hide="showQrInput"
                ng-click="showQrInput=true">
          <span class="glyphicon glyphicon-plus-sign size-2x"></span>
          <span class="button-text">Add Asset QR Code Number</span>
        </button>

        <div ng-show="showQrInput">
          <label for="assetname">QR Code Number</label>
          <span class="glyphicon glyphicon-remove-circle pull-right" ng-click="removeProp('qrCodeNumber');showQrInput=false"></span>
          <input type="text" class="form-control" id="assetname" name="assetname" ng-pattern="/^\d{8}$/" ng-model="asset.qrCodeNumber">
          <span class="help-block" ng-show="step1.assetname.$error.pattern">QR code should be 8 digits only</span>
        </div>

      </div>

      <div class="input-field">
        <button type="button" class="btn btn-large btn-primary form-control input-control-margin-top"
                ng-show="asset.customerAssetId === undefined || asset.customerAssetId === null"
                ng-click="asset.customerAssetId=''">
          <span class="glyphicon glyphicon-plus-sign size-2x"></span>
          <span class="button-text">Add Customer Asset ID</span>
        </button>

        <div ng-show="asset.customerAssetId !== undefined && asset.customerAssetId !== null ">
          <label for="customer-asset-id">Customer Asset ID</label>
          <span class="glyphicon glyphicon-remove-circle pull-right" ng-click="removeProp('customerAssetId')"></span>
          <input type="text" class="form-control" id="customer-asset-id" ng-model="asset.customerAssetId">
        </div>

      </div>

    </div>

    <div class="col-xs-4">

      <div class="well input-well">
        <span class="pull-left">Photos <span class="glyphicon glyphicon-question-sign"></span></span>
        <span class="pull-right">
          <button class="btn btn-sm btn-primary" type="button" ng-click="showUploadModal('Photos', 'photos')">
            <span class="glyphicon glyphicon-plus-sign">Upload Photos</span>
          </button>
        </span>

        <p class="message">
          No photos uploaded. Click button to upload
        </p>

        <img class="thumb" ng-repeat="img in asset.files.photos" ng-src="{{img.url}}">

      </div>

      <div class="well input-well">
        <span class="pull-left">Invoices <span class="glyphicon glyphicon-question-sign"></span></span>
       <span class="pull-right">
        <button class="btn btn-sm btn-primary" type="button" ng-click="showUploadModal('Invoices', 'invoices')">
          <span class="glyphicon glyphicon-plus-sign">Upload Invoices</span>
        </button>
        </span>

        <p class="message">
          No invoices uploaded. Click button to upload
        </p>

      </div>

      <div class="well input-well">
        <span class="pull-left">Other files <span class="glyphicon glyphicon-question-sign"></span></span>
      <span class="pull-right">
        <button class="btn btn-sm btn-primary" type="button" ng-click="showUploadModal('Files', 'other')">
          <span class="glyphicon glyphicon-plus-sign">Upload Files</span>
        </button>
      </span>

        <p class="message">
          No files uploaded. Click button to upload
        </p>
      </div>

      <div class="input-field">
        <a class="btn btn-large btn-success">
          <span class="glyphicon glyphicon-plus-sign"></span>
          Submit for Data Entry
        </a>

        <p>Remaining credits: 1</p>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">

      <hr>

      <button type="submit" class="btn btn-primary pull-right" ng-disabled="step1.$invalid">
        <span class="glyphicon glyphicon-menu-right"></span>
        Next
      </button>
    </div>
  </div>

</form>

