<div class="row">
    <div class="col-md-12">
        <a class="link" href="#">Terms and Conditions</a>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" required ng-model="user.dataAgreement.agreement" name="agreement" id="agreement" required> Agreement to Terms and Conditions<em>*</em>
                </label>
                <span class="invalid" ng-show="registerForm.agreement.$error.required">Please confirm that you agree to the Custom Agreement</span>
            </div>
        </div>
    </div>
</div>
