<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label" for="instanceUrl">Site Address<em>*</em> :</label>
            <div class="input-with-label">
              <input validate-on="blur" type="text" ng-model="user.dataCredentials.instanceUrl"
                     name="dataCredentials[instanceUrl]" id="instanceUrl" class="form-control input-sm"
                     autocomplete="off" value="" required instance-url ng-model-options="{ updateOn: 'blur' }">
              <span>.isitup.com</span>
            </div>
            <span class="invalid" ng-show="registerForm['dataCredentials[instanceUrl]'].$invalid && user.dataCredentials.instanceUrl.length">Site address is not available</span>
            <span class="valid" ng-show="registerForm['dataCredentials[instanceUrl]'].$valid && user.dataCredentials.instanceUrl.length">Site address is available</span>
            <span>{{registerForm['dataCredentials[instanceUrl]'.$invalid]}}</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label" for="username">Email/Username<em>*</em> :</label>
            <input type="email" ng-model="user.dataCredentials.username" name="dataCredentials[username]" id="username" class="form-control input-sm" autocomplete="off" value="" required>
        </div>
    </div>
</div>
<div class="row">
    <div class="password-group" data-bind="app/user/registration/Password">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="password">Password<em>*</em> :</label>
                        <input ng-model="user.dataCredentials.password" ng-minlength=8 data-toggle="tooltip" data-trigger="focus" data-placement="top" title="" type="password" class="form-control input-sm" name="dataCredentials[password]" id="password" value="" data-original-title="Min length 6 characters" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" data-bind="app/user/registration/NotEmpty">
                        <label class="control-label" for="repeatPassword">Repeat Password<em>*</em> :</label>
                        <input ng-model="user.dataCredentials.passwordRepeat" ng-minlength=8 autocomplete="off" data-toggle="tooltip" data-trigger="focus" data-placement="top" title="" type="password" class="form-control input-sm" name="dataCredentials[repeatPassword]" id="repeatPassword" value="" data-original-title="Repeat password" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
