<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label" for="instanceUrl">Site Address<em>*</em> :</label>
            <div class="input-with-label">
              <input validate-on="blur" type="text" ng-model="user.dataCredentials.instanceUrl"
                     name="instanceUrl" id="instanceUrl" class="form-control input-sm"
                     autocomplete="off" value="" required ng-minlength="4" ng-pattern="/^[a-zA-Z0-9]+$/" instance-url ng-model-options="{ updateOn: 'blur' }">
              <span>.isitup.com</span>
            </div>
            <span class="invalid" ng-show="registerForm.instanceUrl.$invalid && (registerForm.instanceUrl.$touched || submitted)">Site address is already taken</span>
            <span class="valid" ng-show="registerForm.instanceUrl.$valid && registerForm.instanceUrl.$touched">Site address is available</span>
            <span ng-show="(registerForm.instanceUrl.$error.required ||registerForm.instanceUrl.$error.minlength || registerForm.instanceUrl.$error.pattern)
            && (submitted || registerForm.instanceUrl.$touched)" class="invalid">
              Site address must be at least 4 characters, letters and numbers only</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label" for="username">Email/Username<em>*</em> :</label>
            <input type="email" ng-model="user.dataCredentials.username" name="username" id="username" class="form-control input-sm" autocomplete="off" value="" required>
            <span class="invalid" ng-show="(registerForm.username.$touched|| submitted) && registerForm.username.$error.required">Please enter a valid email address</span>
            <span class="invalid" ng-show="(registerForm.username.$touched|| submitted) && registerForm.username.$error.username">Username already exists</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="password-group" data-bind="app/user/registration/Password">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="password">Password<em>*</em> :</label>
                        <input ng-model="user.dataCredentials.password" ng-minlength=4 data-toggle="tooltip" data-trigger="focus" data-placement="top" title="" type="password" class="form-control input-sm" name="password" id="password" value="" data-original-title="Min length 6 characters" required>                        <span class="invalid" ng-show="registerForm.password.$error.required && (submitted || registerForm.password.$touched)">Please enter a valid password. Must be "Good" to proceed</span>
                        <span ng-show="registerForm.password.$error.minlength">Password strength: Weak</span>
                        <span ng-show="user.dataCredentials.password.length > 3 && user.dataCredentials.password.length < 8">Password strength: Fair</span>
                        <span ng-show="user.dataCredentials.password.length >= 8">Password strength: Good</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" data-bind="app/user/registration/NotEmpty">
                        <label class="control-label" for="repeatPassword">Repeat Password<em>*</em> :</label>
                        <input ng-model="user.dataCredentials.passwordRepeat" ng-minlength=8 autocomplete="off" data-toggle="tooltip" data-trigger="focus" data-placement="top" title="" type="password" class="form-control input-sm" name="dataCredentials[repeatPassword]" id="repeatPassword" value="" data-original-title="Repeat password" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
