<div class="row">
    <div class="col-sm-6">
        <div class="form-group" data-bind="app/user/registration/NotEmpty">
            <label class="control-label" for="name">First name<em>*</em> :</label>
            <input type="text" maxlength="15" ng-model="user.dataUser.firstName" name="firstName" id="name" class="form-control input-sm" autocomplete="off" value="" required>
            <span class="invalid" ng-show="registerForm.firstName.$error.required && (submited || registerForm.firstName.$touched)">Please enter a first name</span>
        </div>
    </div>
  <div class="col-sm-6">
        <div class="form-group" data-bind="app/user/registration/NotEmpty">
            <label class="control-label" for="last_name">Last name<em>*</em> :</label>
            <input type="text" maxlength="15" ng-model="user.dataUser.lastName" name="lastName" id="last_name" class="form-control input-sm" autocomplete="off" value="" required>
            <span class="invalid" ng-show="registerForm.lastName.$error.required && (submited || registerForm.lastName.$touched)">Please enter a last name</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group" data-bind="app/user/registration/Company">
            <label class="control-label" for="company">Company Name:</label>
            <input ng-model="user.dataUser.companyName" autocomplete="off" type="text" class="form-control input-sm company-names" name="companyName" id="company" value="">
        </div>
    </div>
</div>
