<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label class="control-label" for="country">Country<em>*</em>:</label>
            <div angucomplete-alt id="country" placeholder="Search countries" selected-object="countrySelected" local-data="countries" search-fields="text" title-field="text" minlength="1" input-class="form-control form-control-small" field-required="true" fieldRequiredClass="ng-invalid">
            </div>
            <input type="hidden"  ng-model="user.dataContact.country" name="dataContact[country]" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group has-feedback  ui-Widget">
            <label class="control-label" for="address1">Address Line 1<em>*</em> :</label>
            <input type="text" ng-model="user.dataContact.address1" name="dataContact[address1]" id="address1" class="form-control input-sm" autocomplete="off" value="" required>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group has-feedback  ui-Widget">
            <label class="control-label" for="address2">Address Line 2:</label>
            <input type="text" ng-model="user.dataContact.address2" name="dataContact[address2]" id="address2" class="form-control input-sm" autocomplete="off" value="">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group has-feedback  ui-Widget">
            <label class="control-label" for="city">City<em>*</em> :</label>
            <input type="text" ng-model="user.dataContact.city" name="dataContact[city]" id="city" class="form-control input-sm" autocomplete="off" value="" required>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label class="control-label" for="state">State/Province:</label>
            <input ng-model="user.dataContact.state" name="user.dataContact[state]" id="state" class="form-control input-sm ">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label" for="zip">Zip/Postcode:</label>
            <input type="text" ng-model="user.dataContact.zip" name="dataContact[zip]" id="zip" class="form-control input-sm" autocomplete="off" value="">
        </div>
    </div>
</div>
