<div class="admin-page">
  <div class="admin-header">
    <h1><img src="/app/img/default-avatar.png" alt="" class="img-rounded" /> Manage your account</h1>
  </div>
  <div class="admin-panel">
    <div class="admin-panel-inner">
      <div class="admin-panel-nav">
        <nav>
          <ul class="admin-nav nav">
            <li class="nav-item active">
              <a class="execute" href="javascript:void(0);">Profile settings</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="admin-panel-content">
        <div class="row">
          <div class="col-sm-8">
            <h1>Account settings</h1>

            <form role="form" name="registerForm" id="registerForm" method="post" ng-submit="save()">
              <div class="row">
                <div class="col-sm-9 form-view">
                  <div class="form-horizontal">
                    <div class="form-group">
                      <input type="hidden" name="dataCredentials[unuqieUrl]" value="{{user.dataCredentials.instanceUrl}}" />
                      <label class="control-label col-sm-3">Unique URL:</label>
                      <div class="col-sm-9">
                        <label class="control-label"><strong>{{user.dataCredentials.instanceUrl}}</strong></label>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="hidden" name="dataCredentials[username]" value="{{user.dataCredientials.username}}" />
                      <label class="control-label col-sm-3">Email:</label>
                      <div class="col-sm-9">
                        <label class="control-label"><strong>{{user.dataCredentials.username}}</strong></label>
                      </div>
                    </div>
                    <div class="form-group" data-bind="app/user/registration/NotEmpty">
                      <label class="control-label col-sm-3" for="name">First name<em>*</em> :</label>
                      <div class="col-sm-9">
                        <input type="text" maxlength="15" ng-model="user.dataUser.firstName" name="firstName" id="name" class="form-control input-sm" autocomplete="off" value="" required>
                        <div ng-show="registerForm.$submitted || registerForm.firstName.$touched">
                          <span class="error" ng-show="registerForm.firstName.$error.required">required</span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" data-bind="app/user/registration/NotEmpty">
                      <label class="control-label col-sm-3" for="last_name">Last name<em>*</em> :</label>
                      <div class="col-sm-9">
                        <input type="text" maxlength="15" ng-model="user.dataUser.lastName" name="lastName" id="last_name" class="form-control input-sm" autocomplete="off" value="" required>
                        <div ng-show="registerForm.$submitted || registerForm.lastName.$touched">
                          <span class="error" ng-show="registerForm.lastName.$error.required">required</span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-signup" ng-click="save()">Save</button>
                        <a class="">Cancel</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="avatar-view text-center">
                    <div class="description">
                      <a id="change-avatar" href="#change-avatar" data-submit-url="/account/xhr/avatar/alexcreighton77" data-text-title="Upload avatar" data-text-delete="Delete avatar">
                        <div class="aui-avatar avatar-lg">
                          <div class="aui-avatar-inner">
                            <img src="/app/img/default-avatar.png" alt="" class="img-rounded" />
                          </div>
                        </div>
                        Change avatar
                      </a>
                      <div class="gravatar-help">
                        Current avatar via <a href="http://gravatar.com" target="_blank">Gravatar</a>.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
