<div class="sidebar">
  <div class="menu">
    <a ui-sref="base.main.dashboard" class="menu-item active">
      <span class="glyphicon glyphicon-home"></span><br>
      Dashboard
    </a>
    <!--<a ui-sref="base.main.website" class="menu-item ">-->
      <!--<span class="glyphicon glyphicon-stats"></span><br>-->
      <!--Website/API Monitoring     -->
    <!--</a>-->
    <!--<a ui-sref="base.main.network" class="menu-item ">-->
      <!--<span class="glyphicon glyphicon-signal"></span><br>-->
      <!--Network Scans       -->
    <!--</a>-->
    <a ui-sref="base.main.assets" class="menu-item ">
      <span class="glyphicon glyphicon-barcode"></span><br>
      Asset Management
    </a>

    <div class="menu-categories">
      <ul class="list-unstyled">
        <li ng-repeat="category in categories">
          <a ui-sref="base.main.assetsList({category: category.value})">{{category.displayName}}</a>
        </li>
      </ul>
    </div>


  <!--<a ui-sref="base.main.device" class="menu-item ">-->
      <!--<span class="glyphicon glyphicon-hdd"></span><br>-->
      <!--IsItUp Raspberry Pi       -->
    <!--</a>-->
    <!--<a ui-sref="base.main.settings" class="menu-item ">-->
      <!--<span class="glyphicon glyphicon-cog"></span><br>-->
      <!--Settings          -->
    <!--</a>-->
  </div>
</div>
