<div class="modal-header">
  Purchase Information
  <button ng-click="exit()" class="pull-right">
    <span class="glyphicon glyphhicon-exit"></span>
  </button>
</div>

<div class="modal-body" bs-collapse allow-multiple="true" ng-model="expandedPanels">

  <div class="clear">
    <div class="well">
      <h4 class="pull-left">Purchase Order</h4>
      <span class="glyphicon size-2x pull-right" bs-collapse-toggle ng-class="{'glyphicon-plus-sign': isPanelExpanded(0), 'glyphicon-minus-sign': !isPanelExpanded(0)}"></span>
    </div>
    <div class="panel-collapse" bs-collapse-target>
      <div class="row">
        <div class="col-xs-6">
          <div class="input-field">
            <label for="po">PO #</label>
            <input type="text" class="form-control" name="po">
          </div>

          <div class="input-field">
            <label for="unit-cost">Unit Cost</label>

            <select>
              <option>USD</option>
              <option>EUR</option>
            </select>

            <input type="text">

            <label for="quantity">Total Quantity</label>
            <input type="number" name="quantity">
          </div>

          <div class="input-field">
            <label>Purchase Date</label>
            <input ng-model="dd" type=text bs-datepicker>
          </div>

        </div>

        <div class="col-xs-6">

          <div class="input-field">
            <label>PO Date</label>
            <input ng-model="rr" type=text bs-datepicker>
          </div>

          <div class=input-field>
            <select>
              <option>USD</option>
              <option>EUR</option>
            </select>

            <input type="text">
          </div>

          <div class=input-field>
            <select>
              <option>USD</option>
              <option>EUR</option>
            </select>

            <input type="text">
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="clear">
    <div class="well">
      <h4 class="pull-left">Delivery Order</h4>
      <span class="glyphicon size-2x pull-right" bs-collapse-toggle ng-class="{'glyphicon-plus-sign': isPanelExpanded(1), 'glyphicon-minus-sign': !isPanelExpanded(1)}"></span>
    </div>
    <div class="panel-collapse" bs-collapse-target>
      <h1>Content</h1>
    </div>
  </div>

  <div class="clear">
    <div class="well">
      <h4 class="pull-left">Invoice</h4>
      <span class="glyphicon size-2x pull-right" bs-collapse-toggle ng-class="{'glyphicon-plus-sign': isPanelExpanded(2), 'glyphicon-minus-sign': !isPanelExpanded(2)}"></span>
    </div>
    <div class="panel-collapse" bs-collapse-target>
      <h1>Content</h1>
    </div>
  </div>

  <div class="clear">
    <div class="well">
      <h4 class="pull-left">Cheque</h4>
      <span class="glyphicon size-2x pull-right" bs-collapse-toggle ng-class="{'glyphicon-plus-sign': isPanelExpanded(3), 'glyphicon-minus-sign': !isPanelExpanded(3)}"></span>
    </div>
    <div class="panel-collapse" bs-collapse-target>
      <h1>Content</h1>
    </div>
  </div>

  <div class="clear">
    <div class="well">
      <h4 class="pull-left">Voucher</h4>
      <span class="glyphicon glyphicon-plus-sign size-2x pull-right" bs-collapse-toggle ng-class="{'glyphicon-plus-sign': isPanelExpanded(4), 'glyphicon-minus-sign': !isPanelExpanded(4)}"></span>
    </div>
    <div class="panel-collapse" bs-collapse-target>
      <h1>Content</h1>
    </div>
  </div>
</div>

<div class="modal-footer">
  <span class="glyphicon glyphicon-info"></span>
  You can also drag and drop your files

  <div class="pull-right btn-group">
    <button ng-click="exit()">
      Save
    </button>

    <button ng-click="exit()">
      Cancel
    </button>

  </div>


</div>
