<div class="modal-header">
  Add Asset Status
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="exit()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

    <label for="status">Status Name</label>
    <input type="text" id="status" class="form-control" ng-model="status">

  <div class="alert alert-success" ng-if="successMessage">
    Status Name has been added
  </div>

</div>

<div class="modal-footer">

  <div class="pull-right btn-group">
    <button ng-click="createStatus()" class="btn btn-primary">
      Continue
    </button>

    <button ng-click="exit()" class="btn btn-default">
      Cancel
    </button>

  </div>


</div>
