<div class="modal-header">
  Add Supplier
  <button ng-click="exit()" class="pull-right">
    X
  </button>
</div>

<div class="modal-body">

  <form ng-submit="createSupplier()">
    <label for="location"></label>
    <input type="text" id="location" class="form-control" ng-model="supplier.name">

    <button type="submit">Create</button>
  </form>

  <div class="alert alert-success" ng-if="successMessage">
    Supplier has been added
  </div>

</div>

<div class="modal-footer">

  <div class="pull-right btn-group">
    <button ng-click="exit()">
      Continue
    </button>

    <button ng-click="exit()">
      Cancel
    </button>

  </div>


</div>
