<div class="modal-header">
  Upload {{uploadType}}
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="exit()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <button class="btn btn-primary" ng-file-select ng-model="files">
    <span class="glyphicon glyphicon-upload"></span>
    Upload {{uploadType}} from your computer
  </button>
  <hr>

  <img class="thumb" ng-repeat="thumb in thumbs" ng-src="{{thumb}}">

</div>

<div class="modal-footer">
  <span class="glyphicon glyphicon-info"></span>
  You can also drag and drop your files

  <div class="pull-right btn-group">
    <button ng-click="upload()">
      Continue
    </button>

    <button ng-click="exit()">
      Discard
    </button>

  </div>


</div>
