<button type="button" class="btn btn-primary btn-sm edit-button" ng-click="editSection.invoiceSection=true">
  <span class="glyphicon glyphicon-pencil"></span> Edit
</button>

<div class="row">

  <h3>Invoice</h3>
  <hr>

  <div class="col-xs-6">

    <div class="input-field">
      <label>Invoice #</label>
      <p>{{purchaseInfo.invoice.invoiceNumber}}</p>
    </div>

  </div>

  <div class="col-xs-6">

    <div class="input-field">
      <label>Invoice Date</label>
      <p>{{purchaseInfo.invoice.invoiceDate}}</p>
    </div>

  </div>
</div>
