<button type="button" class="btn btn-primary btn-sm edit-button" ng-click="editSection.ownershipSection=true">
  <span class="glyphicon glyphicon-pencil"></span> Edit
</button>

<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <div class="input-field">
        <label>Ownership Type</label>
        <p>{{asset.ownership.ownershipType.ownershipTypeName}}</p>
      </div>

      <div class="input-field">
        <label>Owner</label>
        <p>{{asset.ownership.ownerCompany.companyName}}</p>
      </div>

      <div class="input-field">
        <label>Asset Sharing</label>
        <p>{{asset.ownership.sharing.sharing}}</p>
      </div>

      <div class="input-field">
        <label>Assigned User</label>
        <p>{{asset.ownership.assignedUser.username}}</p>
        <a href>Assigned User History</a>
      </div>

      <div class="input-field">
        <label>Company</label>
        <p>{{asset.ownership.assignedCompany.companyName}}</p>
      </div>

      <div class="input-field">
        <label>Department</label>
        <p>{{asset.ownership.assignedDepartment.departmentName}}</p>
      </div>

    </div>
  </div>

</div>

