<button type="button" class="btn btn-primary btn-sm edit-button" ng-click="editSection.voucherSection=true">
  <span class="glyphicon glyphicon-pencil"></span> Edit
</button>

<div class="row">

  <h3>Voucher</h3>
  <hr>

  <div class="col-xs-6">

    <div class="input-field">
      <label>Voucher #</label>
      <p>{{purchaseInfo.voucher.voucherNumber}}</p>
    </div>

  </div>

  <div class="col-xs-6">

    <div class="input-field">
      <label>Voucher Date</label>
      <p>{{purchaseInfo.voucher.voucherDate}}</p>
    </div>

  </div>
</div>
