<button type="button" class="btn btn-primary btn-sm edit-button" ng-click="editSection.warrantySection=true">
  <span class="glyphicon glyphicon-pencil"></span> Edit
</button>

<div class="row">

  <div class="col-xs-6">

    <div class="input-field">
      <label>Cost Center</label>
      <p>{{asset.costCenter}}</p>
    </div>

  </div>

  <div class="col-xs-6">

    <div class="input-field">
      <label>Warranty Expiry</label>
      <p>{{asset.warrantyExpirity}}</p>
    </div>

  </div>
</div>
