<div class="modal-header">
  Add Prefix
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="exit()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

    <label for="prefix"></label>
    <input type="text" id="prefix" class="form-control" ng-model="prefix">

    <div class="alert alert-success" ng-if="successMessage">
      Prefix has been set up
    </div>

    <div class="alert alert-danger" ng-if="errorMessage">
      Something wrong
    </div>

</div>

<div class="modal-footer">

  <div class="pull-right btn-group">
    <button ng-click="setPrefix()" class="btn btn-primary">
      Submit
    </button>

    <button ng-click="exit()" class="btn btn-default">
      Cancel
    </button>

  </div>


</div>
