<div class="modal-header">
  Add Prefix
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="exit()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form name="prefixform" ng-submit="setPrefix()">

  <div class="modal-body">

    <label for="prefix"></label>
    <input type="text" id="prefix" name="prefix" class="form-control" ng-model="prefix" ng-maxlength="3" ng-minlength="3" ng-pattern="/^[a-zA-Z]+$/">
    <span class="help-block" ng-show="prefixform.prefix.$invalid">Prefix must contain 3 latin letters</span>

    <div class="alert alert-success" ng-if="successMessage">
      Prefix has been set up
    </div>

    <div class="alert alert-danger" ng-if="errorMessage">
      Something wrong
    </div>

</div>

  <div class="modal-footer">

  <div class="pull-right btn-group">
    <button type="submit" class="btn btn-primary" ng-disabled="prefixform.$invalid">
      Submit
    </button>

    <button type="button" ng-click="exit()" class="btn btn-default">
      Cancel
    </button>

  </div>


</div>

</form>
